<h1>Homepage</h1>
<p>To add new customers, pets or bookings, click on customers</p>
<%= link_to 'Customers', controller: 'customers' %> |
<%= link_to 'View Pets', controller: 'pets' %> |
<%= link_to 'View Bookings', controller: 'newbookings' %>  

