<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Homepage</h1>
  </head>
<body>
<p>To add new customers, pets or bookings, click on customers</p>
<div class = "btn-group">
<a href=<%= customers_index_path %> class="btn btn-info" role="button">Customers</a>  
<a href=<%= pets_index_path %> class="btn btn-info" role="button">View Pets</a>
<a href=<%= newbookings_index_path %> class="btn btn-info" role="button">View Bookings</a>
<a href=<%= services_path %> class="btn btn-info" role="button">View Services</a>
</div>
</body>
</html>

