<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Pet List</h1>
  </head>

<table class = "table table-striped">
<tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Owner</th>
    <th colspan="2"></th>
    </tr>

  <% @pet.each do |pet| %>
  <tr>
  <td><%= pet.name %></td>
  <td><%= pet.breed %></td>
  <td><%= pet.customer.name %></td>
  <td><a href= <%= customer_path(pet.customer) %> class = "btn btn-success">Show</a></td>
  </tr>
  <%end%>
  </table>
  <td><a href= "/homepage/index" class = "btn btn-default">Back</a></td>
  </html>
