<p>
  <strong>Session:</strong>
  <%= newbooking.session %>
</p>
 <p>
  <strong>Service:</strong>
  <%= newbooking.service.name %>
</p>

 <p>
  <%= link_to 'Delete Booking', newbooking,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>