<p>
  <strong>Date:</strong>
  <%= newbooking.date %>
</p>
<p>
  <strong>Time:</strong>
  <%= newbooking.time.strftime("%k:%M") %>
</p>
 <p>
  <strong>Service:</strong>
  <%= newbooking.service_name %>
</p>

 <p>
  <%= link_to 'Delete Booking', newbooking,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>