<p>
  <strong>Session:</strong>
  <%= newbooking.session %>
</p>
 

 <p>
  <%= link_to 'Delete Booking', [newbooking.customer, newbooking],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>